body{
	font-family: Arial, Helvetica;
	background-image: url("https://static.vecteezy.com/system/resources/previews/002/217/896/non_2x/cinema-wallpaper-social-media-message-background-vector.jpg");
}

.menu{
	list-style: none;
	padding: 0;
	background: #092327;
	width: 100%;
	margin: auto;
}

.menu li a{
	text-decoration: none;
	color: white;
	padding: 20px;
	display: block;
}

.menu li{
	display: inline-block;
	text-align: center;

}

.menu li a:hover{
	background: #ef8354;
}

.centrado{
	padding: 10% 20% 10% 20%;
}

.letraBlanca{
	color: white;
}


.fondoClaro{
	color: white;
}

